<!DOCTYPE html>
  <head>

  </head>
  <body>

    <br>
    <table class="table table-hover" style= "width:800px;">
    <thead>
      <tr class="table-info">
      {% for label in labels %}

        <td scope="col">{{ label }}</td>

         {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>

        <td>{{ item [0] }}</td>
        <td>{{ item [1] }}</td>
        <td>{{ item [2] }}</td>
        <td>{{ item [3] }}</td>
      </tr>

       {% endfor %}
        </tbody>
    </table>

  </body>
</html>
